<html>
  <head>
    <meta charset='utf-8' />
    <title></title>
    <link rel='stylesheet' href='/css/skeleton.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/client.js'></script>

  </head>
  <body>
    <div class='container'>

      {{{body}}}
    </div>

  </body>
</html>