body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

html { 
    background-color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.hide {
    display: none;
}

#canvas {
    opacity: 0.5;
}

.main {
    background: no-repeat center center fixed; 
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    z-index: -2;
}

.text button:hover {
    background-color:#eee;
}

* {
    margin: 0;
    padding: 0;
}