body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

html { 
    background-color: rgb(184, 140, 140);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .heading {
      color: #eee;
      padding-top: 1em;
  }

.hide {
    display: none;
}

.show {
    display: inline-block;
}

#canvas {
    opacity: 0.7;
    
}

.main {
    background: no-repeat right; 
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    z-index: -2;
}

.text button:hover {
    background-color:#eee;
}

#label-container {
    color: black;
    padding-top: 2em;
}

* {
    margin: 0;
    padding: 0;
}

